<div class="jumbotron">
  <h1>Contributions</h1>
</div>

<div class="row-fluid">
 <table class="table table-hover table-bordered"">
    <thead>
      <tr>
        <th>Member</th>
        <th>Number of Commits</th>
        <th>Insertion</th>
        <th>Deletion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>john@example.com</td>
        <td>10</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
</div>