<div class="masthead">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="projects.html">Contributions</a></li>
          <li><a href="services.html">Commit History</a></li>
          <li><a href="downloads.html">Efforts</a></li>
          <li><a href="about.html">Lines of Code</a></li>
          <li><a href="contact.html">Active Rate</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>