<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{seo.commithistory.title}}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="description" content="{{seo.commithistory.description}}">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/commitHistory.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="assets/js/commitHistory.js"></script>
  <script src="assets/js/jquery.color-2.1.2.min.js"></script>
  <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- Javascript -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
    </head>

    <body class="{{seo.commithistory.body_class}}">

      <div class="container">

        {{> head }}

        <div class="placeholder">
          {{> commithistory }}
        </div>

        <div>
          <div class="input-group" style="font-family:Ubuntu;display:flex;justify-content: center; margin-bottom:30px;">
            <input type="text" class="form-control" style="font-family:Ubuntu;" placeholder="Username" aria-describedby="basic-addon1" id="author-inputbar" >
          </div>

          <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
            <input type="text" class="form-control" style="font-family:Ubuntu;" placeholder="File" aria-describedby="basic-addon1" id="file-inputbar" >
          </div>

          <div style="display:flex;justify-content: center; flex-direction:column; align-items:center;margin-bottom:30px;">
            <input type="text" style="margin-bottom:30px;font-family:Ubuntu;" placeholder="Enter Start Date" id="datepicker-8">
            <input type="text" style="font-family:Ubuntu;" placeholder="Enter End Date" id="datepicker-9">
          </div>

          <div style="display:flex;justify-content: center;">
           <button id="submit-btn" type="button" class="btn btn-primary" style="font-family:Ubuntu;display:flex;justify-content: center;margin-bottom: 10px;text-transform: uppercase;">
            Submit
          </button>
        </div>
      </div>

      <div class="spinner" style="display:flex;flex-direction:column;justify-content:center;align-items:center;margin-top:50px">
        <i style="font-size:100px;" class=" fa fa-circle-o-notch fa-spin fa-3x fa-fw">
        </i>
        <p>Loading...</p>
      </div>

      <div id="commitHistory" style="height: auto; width: 100%"></div>

      <script type="text/javascript">
      var val = window.location.search;
      $('.nav').find('a').each(function() {
        var $this = $(this);
        var _href = $this.attr("href");
        $this.attr("href", _href + val);
      });
      </script>

      <script>
      var start;
      var end;
      $( "#datepicker-8" ).datepicker({
       prevText:"click for previous months",
       nextText:"click for next months",
       showOtherMonths:true,
       selectOtherMonths: false,
       dateFormat: "yy/mm/dd",
       onSelect: function(date) {
        start = date;
      }
    });
      $( "#datepicker-9" ).datepicker({
       prevText:"click for previous months",
       nextText:"click for next months",
       showOtherMonths:true,
       selectOtherMonths: true,
      dateFormat: "yy/mm/dd",
      onSelect: function(date) {
        end = date;
      }
    });

      $('.spinner').css('display', 'flex');

        var val = window.location.search.match(/github=https:\/\/github.com\/([^&]*)/);
        var user = '';
        var repo = '';
        if (val) {
          var x = val[1];
          var div = x.indexOf('/');
          user = x.substring(0, div);
          repo = x.substring(div + 1);
        }
        var emailArr = window.location.search.match(/email=([^&]*)/);
        var email;
        if (emailArr) {
          email = emailArr[1];
        }
   

      // append start, end; keep 00:00 
      var url;
      $('#submit-btn').on('click', function (){
        var author = $('#author-inputbar').val();
        var file = $('#file-inputbar').val();
      url= 'http://ec2-54-179-159-147.ap-southeast-1.compute.amazonaws.com:3000/api/member/commits?owner='+ user+'&repo='+repo+'&author='+author+'&start='+start+'T00:00:49Z&end='+end+'T00:00:06.573Z'+'&file'+file;
      var commits = [];

      $.get(url, function(data, status) {
        console.log(data);
        var processedData = preProcess(data);

        createCommitHistoryTable(processedData);
        $('.spinner').css('display', 'none');
      });

      });
     
      var preProcess = function(data) {
        console.log(data);
        var processedData = {};

        for(var i = data.length - 1; i >= 0; i--) {
          var dateTime = data[i].commit_date;
          dateTime = dateTime.substring(0, dateTime.length - 1).split("T");
          var date = dateTime[0];
          var time = dateTime[1];
          var message = data[i].commit_message;
          var image_url = data[i].author_avatar_url;

          var commit = {};
          commit["time"] = time;
          commit["message"] = message;
          commit["image_url"] = image_url;

          if(processedData[date] != null) {
            processedData[date].push(commit);
          } else {
            var newDate = [commit];
            processedData[date] = newDate;
          }
        }
        return processedData;
      }
      </script>

    </body>
    </html>
