<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{seo.effort.title}}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{seo.downloads.description}}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
      <style>
      .arc path {
        stroke: #fff;
        cursor: pointer;
      }

      .arc path:hover {
        fill: black;
        stroke: #a9a9a9;
        opacity: 0.2;
      }

      .header {
        padding-left: 20px;
      }

      .contributionChart {
        height: auto;
        width: 100%;
      }

      #tooltip {
        position: absolute;
        font-weight: bold;
        padding: 12px;
        background-color: black;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
      }

      #tooltip.hidden {
        opacity: 0;
      }

      #moreDetail.hidden {
        opacity: 0;
      }
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://d3js.org/d3.v3.min.js"></script>
    </head>

    <body class="{{seo.downloads.body_class}}">

      <div class="container">

        {{> head }}

        <div class="placeholder">
          {{> effort }}
        </div>
        
        <div class="memberlist">
        <h4 style="display: flex;justify-content: center;">Select Members to Compare:</h4>
        <div style="display: flex;justify-content: center;">
          <select multiple="multiple" id="my-select" name="my-select">
          </select>
        </div>

         <div style="display:flex;justify-content: center;">
           <button id="submit-btn" type="button" class="btn btn-primary" style="font-family:Ubuntu;display:flex;justify-content: center;margin: 10px 0px;text-transform: uppercase;">
            Submit
          </button>
        </div>
      </div>

        <div class="spinner" style="display:flex;flex-direction:column;justify-content:center;align-items:center;margin-top:50px">
          <i style="font-size:100px;" class=" fa fa-circle-o-notch fa-spin fa-3x fa-fw">
          </i>
          <p>Loading...</p>
        </div>
        
        <script src="assets/js/jquery.multi-select.js"></script>

        <script type="text/javascript">
        var val = window.location.search;
        $('.nav').find('a').each(function() {
          var $this = $(this);
          var _href = $this.attr("href");
          $this.attr("href", _href + val);
          console.log($this.attr("href"));
        });
        </script>

        <div class="contributionChart" style="margin-top: 50px">
          <span id="moreDetail" class="hidden">Please hover for more information.</span>
        </div>
        <div id="tooltip" class="hidden">
          
          <script>

          $('.memberlist').css('display', 'none');

          $('.spinner').css('display', 'flex');

          var val = window.location.search.match(/github=https:\/\/github.com\/([^&]*)/);
        var user = '';
        var repo = '';
        if (val) {
          var x = val[1];
          var div = x.indexOf('/');
          user = x.substring(0, div);
          repo = x.substring(div + 1);
        }
        var emailArr = window.location.search.match(/email=([^&]*)/);
        var email;
        if (emailArr) {
          email = emailArr[1];
        }
          var memberUrl = 'http://ec2-54-179-159-147.ap-southeast-1.compute.amazonaws.com:3000/api/contributors?owner='+user+'&repo='+repo + '&email=' + email;
          var retrievedData;
  
          $.get(memberUrl, function(data, status) {
            retrievedData = data;
            for(var i = 0;i < data.length; i++){
             $('#my-select').append($('<option>', { 
                    value: data[i].author_name,
                    text : data[i].author_name
                }));
             console.log($('#my-select').html());
            }
            $('#my-select').multiSelect();
            $('.memberlist').css('display', 'block');
            $('.spinner').css('display', 'none');
          });

           var val = window.location.search.match(/github=https:\/\/github.com\/([^&]*)/);
            var user = '';
            var repo = '';
            if (val) {
              var x = val[1];
              var div = x.indexOf('/');
              user = x.substring(0, div);
              repo = x.substring(div + 1);
            }
            var emailArr = window.location.search.match(/email=([^&]*)/);
            var email;
            if (emailArr) {
              email = emailArr[1];
            }

          var url;

          $('#submit-btn').on('click', function() {
              $('.spinner').css('display', 'flex');

              var people = $('select#my-select').val();
              // console.log(people);
              // if(people) {
              //   people = people.join();
              // }
              //email=email, owner=user, repo=repo
              // console.log(people);
              var targetContributors = {};
              for (var i = 0; i < people.length; i++) {
                targetContributors[people[i]] = people[i];
              }
              console.log(targetContributors);
              var processedData = preProcess(targetContributors);

              createPieChart(processedData);
              $('.spinner').css('display', 'none');
          });

          var preProcess = function(targetContributors) {
            var processedData = [];

            for (var i = 0; i < retrievedData.length; i ++) {
              if(targetContributors[retrievedData[i].author_name] == null) {
                continue;
              }
              var contributor = {};

              contributor["author_name"] = retrievedData[i].author_name;
              contributor["commits"] = retrievedData[i].commits;

              processedData.push(contributor);
            }

            return processedData;
          }

          var createPieChart = function(data) {
            var colorRange = ["#A0EEC0","#21A0A0","#41b6c4","#1d91c0","#225ea8","#253494","#081d58", "#0f7788","#edf8b1","#c7e9b4", "#01579B", "#006064", "#004D40", "#0277BD", "#00838F", "#00695C", "#0288D1", "#0097A7", "#00796B"];
            d3.select("svg").remove();
            var width = 1500, height = 600, radius = 250;
            var color = d3.scale.ordinal().range(colorRange);
            var arc = d3.svg.arc().outerRadius(radius).innerRadius(0);
            var textLabelArc = d3.svg.arc().outerRadius(radius).innerRadius(radius);
            var commitLabelArc = d3.svg.arc().outerRadius(radius - 20).innerRadius(radius - 20);
            var pie = d3.layout.pie().sort(null).value(function(d) { return d.commits; });
            var svg = d3.select(".contributionChart").append("svg").attr("width", width).attr("height", height).append("g")
            .attr("transform", "translate(" + width / 3.2 + "," + height / 2 + ")");

            var g = svg.selectAll(".arc")
            .data(pie(data))
            .enter()
            .append("g")
            .attr("class", "arc")
            .on("mouseover", function(d) {
              d3.select("#tooltip")
              .style('opacity', 1)
              .html("<strong style='color:white'>Author:</strong> <span style='color:#4ADBC8'>" + d.data.author_name + "</span><br><strong style='color:white'>Commits: </strong><span style='color:#4ADBC8'>" + d.data.commits + "</span>");
            })
            .on("mousemove", function(d) {
              d3.select("#tooltip").style("top", (d3.event.pageY - 10) + "px")
              .style("left", (d3.event.pageX + 10) + "px");
            })
            .on("mouseout", function() {
              d3.select("#tooltip").style('opacity', 0);
            });

            g.append("path")
            .attr("d", arc)
            .style("fill", function(d) { 
              return color(d.data.author_name); 
            });

            document.getElementById('moreDetail').style.opacity = "1";
          }
          </script>

        </body>
        </html>
