<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{seo.index.title}}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="description" content="{{seo.index.description}}">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</head>

<body class="{{seo.index.body_class}}" style="display:flex; font-family:Ubuntu">

  <div class="container" >

    {{> home }}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Something has occured</h4>
          </div>
          <div class="modal-body">
            Please enter a valid email address!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myGithub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Something has occured</h4>
          </div>
          <div class="modal-body">
            Please enter a github url.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myGithubError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Something has occured</h4>
          </div>
          <div class="modal-body">
            Please enter a valid github url.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myGithubSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Yay</h4>
          </div>
          <div class="modal-body">
            Click on the tabs below to continue.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>





    <div class="submitdone"  style="display:flex;justify-content: center;margin-bottom:30px;">
      Enter your email below so that we will notify you when you are away for long! This is different from the subscribe tab.
    </div>

    <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
      <input type="text" class="form-control" placeholder="Email (optional)" aria-describedby="basic-addon1" id="email-inputbar" style="margin-right: 10px; font-family:Ubuntu">
      
    </div>

    <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
      <input type="text" class="form-control" placeholder="Github Repo URL (required)" aria-describedby="basic-addon1" id="github-inputbar" style="margin-right: 10px; font-family:Ubuntu">
    </div>

    <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
      <button id="submit-btn-email" type="button" class="btn btn-primary" style="margin-bottom: 10px;text-transform: uppercase; font-family:Ubuntu">
        Submit
      </button>
    </div>


    <div class="submitdone"  style="display:flex;justify-content: center; margin-bottom:30px;">
      Please select the following tabs when you have clicked Submit to check out the repo!
    </div>
    <div class="submitdone"  style="display:flex;justify-content: center; margin-bottom:30px;">
      Links are disabled if an invalid github url is entered.
    </div>

    

    {{> head }}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

  <script type="text/javascript">
  $('#submit-btn').on('click', function() {
    console.log($('#user-inputbar').val());
  });

  var val = window.location.search;
  $('.nav').find('a').each(function() {
    var $this = $(this);
    var _href = $this.attr("href");
    $this.attr("href", _href + val);
    $this.on('click.myDisable', function(e) { e.preventDefault(); });

    $this.css('color', 'rgba(0, 0, 0, 0.5)');
    console.log($this.attr("href"));
  });

  var val = window.location.search.match(/github=https?:\/\/github.com\/([^&]*)/);
  var user = '';
  var repo = '';
  if (val) {
    var x = val[1];
    var div = x.indexOf('/');
    user = x.substring(0, div);
    repo = x.substring(div + 1);
  }
  var emailArr = window.location.search.match(/email=([^&]*)/);
  var email;
  if (emailArr) {
    email = emailArr[1];
  }

  $('.nav').find('a').each(function() {
    var $this = $(this);

    if(val ) {
         // $this.click(true);
         $this.off('click.myDisable');
         $this.css('color', 'rgba(0, 0, 0, 1)');
       } 
     });


  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }


  var git;  
  $('#submit-btn-email').on('click', function() {
    var email =  $('#email-inputbar').val();
    var github =  $('#github-inputbar').val();
    if(!github) {
      $('#myGithub').modal();
      return;
    }

    if (email) {
      if(!validateEmail(email)) {
        $('#myModal').modal();
        return;
      }
    }


    var val = '?email='+email +  "&github=" + github;
    git = github.match(/https?:\/\/github.com\/([^&]*)/);
    if(!git) {
      $('#myGithubError').modal();
    }
    console.log(git);
    $.get('https://api.github.com/repos/' + git[1], function(data, error) {
      console.log(data);
      window.location.search = val;

      $('#myGithubSuccess').modal();
    }).fail(function() {

      $('#myGithubError').modal();


      $('.nav').find('a').each(function() {
        var $this = $(this);
        var _href = $this.attr("href");
        $this.attr("href", _href + val);
        $this.on('click.myDisable', function(e) { e.preventDefault(); });

        $this.css('color', 'rgba(0, 0, 0, 0.5)');
        console.log($this.attr("href"));
      });


      return;
    });
    $('.submitdone').css('display', 'flex');

    $('.nav').find('a').each(function() {
      var $this = $(this);
      var _href = $this.attr("href");
      if( github) {
         // $this.click(true);
         $('a').off('click.myDisable');
         $this.css('color', 'rgba(0, 0, 0, 1)');
       } 
       $this.attr("href", _href + val);
       console.log($this.attr("href"));

     });
  });
</script>
</html>
