<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{seo.index.title}}</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="description" content="{{seo.index.description}}">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  </head>

  <body class="{{seo.index.body_class}}" style="display:flex; font-family:Ubuntu">

    <div class="container" >

      {{> home }}

       <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;margin-top:100px;">
        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="email-inputbar" style="margin-right: 10px; font-family:Ubuntu">
        
      </div>

      <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
        <input type="text" class="form-control" placeholder="Github Repo URL" aria-describedby="basic-addon1" id="github-inputbar" style="margin-right: 10px; font-family:Ubuntu">
      </div>

      <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
        <button id="submit-btn-email" type="button" class="btn btn-primary" style="margin-bottom: 10px;text-transform: uppercase; font-family:Ubuntu">
        Submit
      </button>
      </div>

      

      {{> head }}

      {{> footer }}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

  <script type="text/javascript">
    $('#submit-btn').on('click', function() {
      console.log($('#user-inputbar').val());
    });

    var val = window.location.search;
    $('.nav').find('a').each(function() {
      var $this = $(this);
      var _href = $this.attr("href");
      $this.attr("href", _href + val);
      console.log($this.attr("href"));
    });

    $('#submit-btn-email').on('click', function() {
      var val = '?email='+ $('#email-inputbar').val() +  "&github=" + $('#github-inputbar').val();
      window.location.search = val;
      $('.nav').find('a').each(function() {
        var $this = $(this);
        var _href = $this.attr("href");
        $this.attr("href", _href + val);
        console.log($this.attr("href"));
      });
    });
  </script>
</html>
