<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{seo.commithistory.title}}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="description" content="{{seo.commithistory.description}}">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="assets/js/jquery.color-2.1.2.min.js"></script>
  <script src="assets/js/commitHistory.js"></script>
  <link rel="stylesheet" href="assets/css/font-awesome/css/font-awesome.min.css">
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- Javascript -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <![endif]-->
      <style>
        span {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
        }

        .header {
          padding-left: 20px;
        }

        img {
          height: 50px;
          margin-left: 15px;
          display: inline-block;
          border-radius: 50%;
        }

        .dateCell {
          height: 30px;
          display: inline-block;
          font-size: 15px;
          line-height: 30px;
          padding: 5px 8px 5px 8px;
          color: white;
          margin-top: 10px;
        }

        .timelineCell {
          width: 3px;
          height: 50px;
          display: inline-block;
          margin-right: 7px;
        }

        .timeCell {
          display: inline-block;
          margin-left: 5px;
          vertical-align: top;
          text-align: center;
          line-height: 50px;
          overflow: hidden;
          padding: 0px 10px 10px 10px;
        }

        .nameCell {
          display: inline-block;
          margin-left: 15px;
          vertical-align: top;
          line-height: 50px;
          overflow: hidden;
        }

        .messageCell {
          display: inline-block;
          width: 90%;
          margin-left: 10px;
          vertical-align: top;
          line-height: 50px;
          overflow: hidden;
          word-wrap: break-word;
        }

        .changesCell {
          padding: 10px 0px 10px 20px;
        }

        .codeDisplay {
          width: 80%;
          font-size: 12px;
          padding: 5px 0px 5px 5px;
        }
      </style>
    </head>

    <body class="{{seo.commithistory.body_class}}">

      <div class="container">

        {{> head }}

        <div class="placeholder">
          {{> loc }}
        </div>

        <div>
          <div class="input-group" style="font-family:Ubuntu;display:flex;justify-content: center; margin-bottom:30px;">
            All fields are required.
          </div>

          <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
            <input type="text" class="form-control" style="font-family:Ubuntu;" placeholder="File" aria-describedby="basic-addon1" id="file-inputbar" >
          </div>

          <div class="input-group" style="display:flex;justify-content: center; margin-bottom:30px;">
            <input type="text" class="form-control" style="font-family:Ubuntu;" placeholder="Line Number Range(Ex.1-10)" aria-describedby="basic-addon1" id="linenumber-inputbar" >
          </div>

          <div style="display:flex;justify-content: center;">
           <button id="submit-btn" type="button" class="btn btn-primary" style="font-family:Ubuntu;display:flex;justify-content: center;margin-bottom: 10px;text-transform: uppercase;">
            Submit
          </button>
        </div>
      </div>

      <div class="spinner" style="display:none;flex-direction:column;justify-content:center;align-items:center;margin-top:50px">
        <i style="font-size:100px;" class=" fa fa-circle-o-notch fa-spin fa-3x fa-fw">
        </i>
        <p>Loading...</p>
      </div>

      <div id="commitHistory" style="height: auto; width: 100%"></div>

      <script type="text/javascript">
        var val = window.location.search;
        $('.nav').find('a').each(function() {
          var $this = $(this);
          var _href = $this.attr("href");
          $this.attr("href", _href + val);
        });
      </script>

      <script>
        var start = new Date(2000, 1, 1).toLocaleDateString() + 'T00:00:00Z';
        var end = new Date().toLocaleDateString() + 'T00:00:00Z';
        $( "#datepicker-8" ).datepicker({
         prevText:"click for previous months",
         nextText:"click for next months",
         showOtherMonths:true,
         selectOtherMonths: false,
         dateFormat: "yy/mm/dd",
         onSelect: function(date) {
          start = date + 'T00:00:00Z';
        }
      });
        $( "#datepicker-9" ).datepicker({
         prevText:"click for previous months",
         nextText:"click for next months",
         showOtherMonths:true,
         selectOtherMonths: true,
         dateFormat: "yy/mm/dd",
         onSelect: function(date) {
          end = date + 'T00:00:00Z';
        }
      });

        var val = window.location.search.match(/github=https?:\/\/github.com\/([^&]*)/);
        var user = '';
        var repo = '';
        if (val) {
          var x = val[1];
          var div = x.indexOf('/');
          user = x.substring(0, div);
          repo = x.substring(div + 1);
        }
        var emailArr = window.location.search.match(/email=([^&]*)/);
        var email;
        if (emailArr) {
          email = emailArr[1];
        }

        $('#submit-btn').on('click', function (){
          var url;
          var file = $('#file-inputbar').val();
          var linenumber = $('#linenumber-inputbar').val().split('-');


        // url= 'http://ec2-54-179-159-147.ap-southeast-1.compute.amazonaws.com:3000/api/member/commits?owner='+ user+'&repo='+repo+'&author='+author+'&start='+start+'&end='+end+'T00:00:06.573Z'+'&file='+file+'&email='+email+'&linenumber='+linenumber;

        if(file != null && linenumber.length == 2) {
         // url= 'http://ec2-54-179-159-147.ap-southeast-1.compute.amazonaws.com:3000/api/file?owner=tungnk1993&repo=scrapy&path=docs%2Ftopics%2Fmedia-pipeline.rst&from=192&to=195';
         url= 'http://ec2-54-179-159-147.ap-southeast-1.compute.amazonaws.com:3000/api/file?owner='+ user+'&repo='+repo+'&path='+file+'&from='+ linenumber[0] + '&to='+ linenumber[1];
       }
       else {
        console.log("not indicated");
        return;
      }
      $('.spinner').css('display', 'flex');

      console.log(url);
      $.get(url, function(data, status) {
        console.log(data);
        $('#myTable tbody').append('<tr class="child"><td>blahblah</td></tr>');
        var processedData = preProcess(data);

        createHistoryTable(processedData);

        $('.spinner').css('display', 'none');
      });

    });

        var preProcess = function(data) {
          console.log(data);
          var processedData = {};

          for(var i = data.length - 1; i >= 0; i--) {
            var dateTime = data[i].commit_date;
            dateTime = dateTime.substring(0, dateTime.length - 1).split("T");
            var date = dateTime[0];
            var time = dateTime[1];
            var message = data[i].commit_message;
            var image_url = data[i].author_avatar_url;
            var author_name = data[i].author_name;
            var oldChanges = data[i].changes[0].oldChanges;
            var newChanges = data[i].changes[0].newChanges;

            var commit = {};
            commit["time"] = time;
            commit["message"] = message;
            commit["image_url"] = image_url;
            commit["author_name"] = author_name;

            var oldChangesStr = "";
            var newChangesStr = "";

            if(!$.isEmptyObject(oldChanges)) {
              Object.keys(oldChanges).forEach(function(key) {
                var temp = oldChanges[key].replace(/\</g, '&lt;');
                temp = temp.replace(/\>/g, '&gt;');
                oldChangesStr = oldChangesStr.concat("<div style='font-size:15px;padding:5px'>Line ").concat(key).concat("</div><pre class='codeDisplay'>").concat(temp).concat("</pre>");
              });
            } else {
              oldChangesStr = "None";
            }

            if(!$.isEmptyObject(newChanges)) {
              Object.keys(newChanges).forEach(function(key) {
                var temp = newChanges[key].replace(/\</g, '&lt;');
                temp = temp.replace(/\>/g, '&gt;');
                newChangesStr = newChangesStr.concat("<div style='font-size:15px;padding:5px'>Line ").concat(key).concat("</div><pre class='codeDisplay'>").concat(temp).concat("</pre>");
              });
            } else {
              newChangesStr = "None";
            }

            console.log(oldChangesStr);
            console.log(newChangesStr);

            commit["oldChangesStr"] = oldChangesStr;
            commit["newChangesStr"] = newChangesStr;

            if(processedData[date] != null) {
              processedData[date].push(commit);
            } else {
              var newDate = [commit];
              processedData[date] = newDate;
            }
          }
          return processedData;
        }

        var createHistoryTable = function(data) {
          console.log(data);

          var keys = Object.keys(data), dataLen = keys.length;
          document.getElementById("commitHistory").innerHTML = '<table id="commitHistoryTable">'.concat('</table>');
          var table = document.getElementById("commitHistoryTable");
          var rowIndex = 0;

          for (var i = dataLen - 1; i >= 0; i --) {
            var date = keys[i];
            var commits = data[date];
            var headerRow = table.insertRow(rowIndex);
            var headerCell = headerRow.insertCell(0);
            var randomColor = randomColorGenerator();

            headerCell.innerHTML = "<div class='dateCell' style='background:".concat(randomColor).concat("'><span>").concat(date).concat("</span></div>");
            rowIndex++;

            for(var j = 0; j < commits.length; j++) {
              var time = commits[j].time;
              var message = commits[j].message;
              var image_url = commits[j].image_url;
              var author_name = commits[j].author_name;
              var oldChangesStr = commits[j].oldChangesStr;
              var newChangesStr = commits[j].newChangesStr;

              var row = table.insertRow(rowIndex);
              var dataCell = row.insertCell(0);

              dataCell.innerHTML = "<div class='timelineCell' style='background:".concat(randomColor).concat("'></div><div class='timeCell'><span>").concat(time).concat("</span><div class='nameCell'><span>Author: ").concat(author_name).concat("</span></div>").concat("<img src='").concat(image_url).concat("'>");
              rowIndex++;

              var row2 = table.insertRow(rowIndex);
              var dataCell2 = row2.insertCell(0);

              dataCell2.innerHTML = "<div class='timelineCell' style='background:".concat(randomColor).concat("'></div><div class='messageCell'><span>").concat(message).concat("</span></div>");
              rowIndex++;

              var row3 = table.insertRow(rowIndex);
              var dataCell3 = row3.insertCell(0);

              dataCell3.innerHTML = "<div style='padding:10px'>Old Changes: </div><div class='changesCell' style='background:#FF8A80'>".concat(oldChangesStr).concat("</div>");
              rowIndex++;

              var row4 = table.insertRow(rowIndex);
              var dataCell4 = row4.insertCell(0);

              dataCell4.innerHTML = "<div style='padding:10px'>New Changes: </div><div class='changesCell' style='background: #00E676'>".concat(newChangesStr).concat("</div>");
              rowIndex++;
            }
  }
        }
      </script>

    </body>
    </html>
