<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{seo.about.title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{seo.about.description}}">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
     <style>
      #contributionTable {
        border: solid gray 1px;
        border-radius: 3px;
        color: white;
        font-family: "HelveticaNeue-Light";
        margin: 0 auto;
      }    

      #contributionTable thead {
        background-color: #263238;
        color: #E1F5FE;
        font-size: 25px;
        font-weight:400;
      }

      /* Background-color of the odd rows */
      #contributionTable tbody tr:nth-child(odd) {
        background-color: #607D8B;
      }

      /* Background-color of the even rows */
      #contributionTable tbody tr:nth-child(even) {
        background-color: #546E7A;
      }
    </style>
  </head>

  <body class="{{seo.about.body_class}}">

    <div class="container">

      {{> head }}

      <div class="placeholder">
        {{> loc }}
      </div>

      <script>
      var url = 'https://api.github.com/repos/';
      var owner = 'tungnk1993/';
      var repo = 'scrapy/';
      var prefix = 'stats/contributors';
      var url = url.concat(owner).concat(repo).concat(prefix);
      var commits = [];

      $.get(url, function(data, status) {
        var processedData = preProcess(data);

        createContributionTable(processedData);
      });

      var preProcess = function(data) {
        console.log(data);
        var processedData = [];
        var sum = 0;

        for(var i = 0; i < data.length; i++) {
          sum += data[i].total;
        }

        for(var i = data.length - 1; i >= 0; i--) {
          var total = data[i].total;
          var author = data[i].author.login;
          var image_url = data[i].author.avatar_url;
          var contribution = {};

          if(i > data.length - 11) {
            contribution["total"] = total;
            contribution["image_url"] = image_url;
            contribution["author"] = author;
            contribution["weightage"] = (total / sum * 100).toFixed(2);

            processedData.push(contribution);
          } else if(i == data.length - 11) {
            contribution["total"] = total;
            contribution["image_url"] = image_url;
            contribution["author"] = "others";
            contribution["weightage"] = total;

            processedData.push(contribution);
          } else {
            processedData[processedData.length - 1].total += total;
            processedData[processedData.length - 1].weightage += total;
          }
        }

        processedData[processedData.length - 1].weightage = (processedData[processedData.length - 1].total / sum * 100).toFixed(2); 

        return processedData;
      }

      var createContributionTable = function(data) {
        console.log(data);

        document.body.innerHTML += '<table id="contributionTable" cellpadding="10px">'.concat('</table>');
        var table = document.getElementById("contributionTable");
        var header = table.createTHead();
        var headerRow = header.insertRow(0);
        var headerCell1 = headerRow.insertCell(0);
        var headerCell2 = headerRow.insertCell(1);
        var headerCell3 = headerRow.insertCell(2);
        headerCell1.innerHTML = "Authors";
        headerCell2.innerHTML = "Rows";
        headerCell3.innerHTML = "Weightages (%)";
        var body = table.createTBody();

        for (var i = 0; i < data.length; i++) {
          var total = data[i].total;
          var image_url = data[i].image_url;
          var author = data[i].author;
          var weightage = data[i].weightage;
          var row = body.insertRow(i);
          var dataCell1 = row.insertCell(0);
          var dataCell2 = row.insertCell(1);
          var dataCell3 = row.insertCell(2);

          dataCell1.innerHTML = "<span>".concat(author).concat("</span>");
          dataCell2.innerHTML = "<span>".concat(total).concat("</span>");
          dataCell3.innerHTML = "<span>".concat(weightage).concat("</span>");
        }
      }
  </script>

  </body>
</html>
